.boton_tarjeta1{
    @extend %botonDefault;
    background-color: rgb(48, 117, 227);

}

.boton_tarjeta2{
    @extend %botonDefault;
    background-color: rgb(48, 117, 227);

}
.boton_tarjeta3{
    @extend %botonDefault;
    background-color: rgb(48, 117, 227);

}