%botonDefault{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px;
    max-width: 10rem;
    border: 0;
    border-radius: 10px;
    color: #ffff;

}