

/*FOOTER*/
.footer__main{
    padding-top: 3rem;
    padding-bottom: 3rem;

    .footer__image{
      max-height: 3rem;
    }
    .footer__appimage{
      height: 3rem;
    }
  }

.footer__decoration{
  text-decoration: none;
}
.footer__redessociales{
  
  color: $--footer-redessocialescolor;
  margin-bottom:1.5rem;
  svg{
    height: 2rem;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
  }
}

  

  /*FIN FOOTER*/

  