

/*FOOTER*/
.footer__main{
    padding-top: 3rem;
    padding-bottom: 3rem;

    .footer__image{
      max-height: 3rem;
    }
    .footer__appimage{
      height: 3rem;
    }
  }

.footer__decoration{
  text-decoration: none;
}

  

  /*FIN FOOTER*/

  