
/*ESTILOS Y CLASES GLOBALES*/


  .gradiente__violeta{
      background-image: linear-gradient(to right,map-get($gradientes,gradient-primary),map-get($gradientes,gradient-secondary));
    }
    
  .gradiente__gris{
    background-image: linear-gradient(to right,map-get($gradientes,gradient-greyprimary),map-get($gradientes,gradient-greysecondary));
  }

  .primer__barra__horizontal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 9rem;
  
  }
  .barra__horizontal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  /*FIN ESTILOS Y CLASES GLOBALES*/
  

  /*INDEX*/

  .masthead {
    
    padding-top: 9.5rem;
    padding-bottom: 5rem;

    .card__body{
      height: 35rem;

      .card{
        border: none;
        a{
          border-radius: 10px;
          max-width: 10px;
          background-color: red;

        }
        // .card__button{
        //   background-color: red;
        //   border-radius: 10px;
        //   max-width: 10px;
        // }
      }

    }
   
  }

  @media screen and (min-width: 1100px) {


    .card__body{
      height: 35rem;

      .card{
        // display: flex;
        // flex-direction: row;
        // align-items: center;
        // justify-content: center;
        // border-radius: 10px;
        // border: none;
        @include tarjetaBody($backRadius:20px);

       

        #seccion__img{
    
          max-width: $--seccionprincipal-images;
          max-height: $--seccionprincipal-images;
          transition: all 2s;
          &:hover{
            filter: sepia(90%);
           }
        }
        
        
        
      }
    }
    
  }

     /*FIN  INDEX*/