/*CONFIGURACION DE VARIABLES GLOBALES*/


/* Colors */
$--primary: #120D31;
$--secondary: #FF5376;
$--alternative: #302F4D;
$--text-color: #2B2B2B;
$--text-carouselcolor:#f89b0f;
$--text-navcolor:#0241b8;
$--cabecera-backgroundcolor:#ffffff;
$--cabecera-mobile-backgroundcolor:#0241b8;
$--cabecera-mobile-nav-backgroundcolor:#76777a;
$--footer-mobile-backgroundcolor:#c8c4c4;
$--nav-backgroundcolor:#ffffff;
$--nav-mobile-backgroundcolor:#ffffff;
$--footer-backgroundcolor:#f4f1f1;
$--footer-topbordercolor:#ffffff;
$--footer-redessocialescolor:#9f1ae2;


/* gradientes */
$--gradient-primary: #2937f0;
$--gradient-secondary: #9f1ae2;
$--gradient-greyprimary: #59595c;
$--gradient-greysecondary: #bfbbc1;

/* Spacings */
$--spacing-xlarge:12rem;
$--spacing-xxlarge:50rem;
$--spacing-large: 6rem;
$--spacing-medium: 2.4rem;
$--spacing-small: 2rem;
$--spacing-xsmall: 1rem;
$--spacing-xxsmall:0.2rem;
$--spacing-videoservicios-widthsmall:40rem;
$--spacing-videoservicios-heigthsmall:30rem;
$--spacing-videoservicios-width:60rem;
$--spacing-videoservicios-heigth:50rem;
$--spacing-carousel-width:50rem;
$--spacing-carousel-heigth:35rem;
$--spacing-carouselimages-width:40rem;
$--spacing-carouselimages-heigth:25rem;
$--spacing-heigthFAQ:40rem;


/* Font-family */
$--font-principal: 'Barlow', sans-serif;
$--font-title: 'Roboto Slab', serif;

/* Font-Sizes */
$--text-title:4em;
$--text-large: 5.2em;
$--text-medium: 2.2em;
$--text-base: 1.6em;
$--text-small: 1.4em;
$--text-navtext:1.5em;
$--footer-textsize:1.5em;

/*objets sizes*/

$--seccionprincipal-images:25rem;
$--footer-imagesize:25px;
$--conteiner-imagesize-height:400px;
$--conteiner-imagesize-width:500px;


  /* FIN CONFIGURACION DE VARIABLES GLOBALES*/
  