
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400&family=Roboto+Slab:wght@300;500&display=swap'); /*fuentes de google*/



/*CONFIGURACION DE VARIABLES GLOBALES*/

:root {
  /* Colors */
  --primary: #120D31;
  --secondary: #FF5376;
  --alternative: #302F4D;
  --text-color: #2B2B2B;
  --text-carouselcolor:#f89b0f;
  --text-navcolor:#0241b8;
  --cabecera-backgroundcolor:#ffffff;
  --cabecera-mobile-backgroundcolor:#0241b8;
  --cabecera-mobile-nav-backgroundcolor:#76777a;
  --footer-mobile-backgroundcolor:#c8c4c4;
  --nav-backgroundcolor:#ffffff;
  --nav-mobile-backgroundcolor:#ffffff;
  --footer-backgroundcolor:#f4f1f1;
  --footer-topbordercolor:#ffffff;
  /* gradientes */
  --gradient-primary: #2937f0;
  --gradient-secondary: #9f1ae2;
  --gradient-greyprimary: #59595c;
  --gradient-greysecondary: #bfbbc1;
  
  /* Spacings */
  --spacing-xlarge:12rem;
  --spacing-xxlarge:50rem;
  --spacing-large: 6rem;
  --spacing-medium: 2.4rem;
  --spacing-small: 2rem;
  --spacing-xsmall: 1rem;
  --spacing-xxsmall:0.2rem;
  --spacing-videoservicios-widthsmall:40rem;
  --spacing-videoservicios-heigthsmall:30rem;
  --spacing-videoservicios-width:60rem;
  --spacing-videoservicios-heigth:50rem;
  --spacing-carousel-width:50rem;
  --spacing-carousel-heigth:35rem;
  --spacing-carouselimages-width:40rem;
  --spacing-carouselimages-heigth:25rem;
  --spacing-heigthFAQ:40rem;


  /* Font-family */
  --font-principal: 'Barlow', sans-serif;
  --font-title: 'Roboto Slab', serif;

  /* Font-Sizes */
  --text-title:4em;
  --text-large: 5.2em;
  --text-medium: 2.2em;
  --text-base: 1.6em;
  --text-small: 1.4em;
  --text-navtext:1.5em;
  --footer-textsize:1.5em;

  /*objets sizes*/
  
  --seccionprincipal-images:25rem;
  --footer-imagesize:25px;
  --conteiner-imagesize-height:400px;
  --conteiner-imagesize-width:500px;
  
}

/* FIN CONFIGURACION DE VARIABLES GLOBALES*/


/*ESTILOS Y CLASES GLOBALES*/

  /*ESTILO DE HEADER Y BARRA DE NAVEGACION*/

.header__img{
  padding-left: 23px;
  border-radius: 10%;
  max-height: 3rem;                                   
  animation-name:animacion__header__img;
  animation-duration: 10s;
  animation-iteration-count: 2;
}

@keyframes animacion__header__img {
  0%{
  }
  
  35%{
    transform: rotate(360deg);
  }
  55%{
    transform: translateX(-15px);
  }
  80%{
    
    transform: rotate(360deg);
  }
  100%{
  }
}



#mainNav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 3rem;
  background-color: #fff;
}

.navbar-toggler {
  font-size: 0.875rem;
  padding: 0.75rem 1rem;
  color: #212529;
}
.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}



.consulta__button{
  border-radius: 10px;

}


  /*FIN ESTILO DE HEADER Y BARRA DE NAVEGACION*/

.gradiente__violeta{
  background-image: linear-gradient(to right,var(--gradient-primary),var(--gradient-secondary));
}

.gradiente__gris{
  background-image: linear-gradient(to right,var(--gradient-greyprimary),var(--gradient-greysecondary));
}

.cabecera__backgroundcolor{
  background-color:var(--cabecera-backgroundcolor) ;
}


/* MAIN */

.masthead {
  
  padding-top: 9.5rem;
  padding-bottom: 5rem;
 
}
/* FIN MAIN */

/*FOOTER*/
.footer__main{
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.footer__decoration{
  text-decoration: none;
}
.footer__appimage{
  height: 3rem;
}
.footer__image{
  max-height: 3rem;
}

.card{
  border: none;
  
}


/*FIN ESTILOS Y CLASES GLOBALES*/



/*ESTILOS HTML INDEX*/

.primer__barra__horizontal{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 9rem;

}
.barra__horizontal{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/* .body__videoservicios{

  height: 40rem;
} */

.card__body{

  height: 35rem;
  /* padding-top: 9.5rem;
  padding-bottom: 5rem; */
}

/*FIN ESTILOS HTML INDEX*/

/* ESTILOS HTML PRODUCTOS*/

.carousel__text{
  color:var(--text-carouselcolor);
  font-size: var(--text-base);
  
} 


.carousel__main{
  padding-top: 10rem;
  padding-bottom: 10rem;
}
/*FIN ESTILOS HTML PRODUCTOS*/

/*HTML SERVICIOS*/

#video__servicios iframe{
  width: var(--spacing-videoservicios-widthsmall);
  height: var(--spacing-videoservicios-heigthsmall);
}

/*FIN HTML SERVICIOS*/


/*ESTILO HTML FAQ*/

.FAQclass{
  min-height: var(--spacing-heigthFAQ);
  background-image: url(../images/fondo_principal.jpg);
}

/*FIN ESTILO HTML FAQ*/


/*******************INICIO ESTILO PANTALLA ESCRITORIO********************/


@media screen and (min-width: 1100px) {

#nav__display{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 1.5em;
  
}

.header__img{
  padding-left: 15rem;
  border-radius: 10%;
  max-height: 4rem;                                   
  animation-name:animacion__header__img;
  animation-duration: 15s;
  animation-iteration-count: 2;
} 

@keyframes animacion__header__img {
  0%{
  }
  
  35%{
    transform: translateX(-170px);
  }
  55%{
    transform: rotate(360deg);
  }
  80%{
    
    transform: translateX(-170px)
  }
  100%{
  }
}

/*HTML INDEX*/
.card_section{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: none;
  height: 55rem;

}

.card{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: none;
  
}


#seccion__img{

  max-width: var(--seccionprincipal-images);
  max-height: var(--seccionprincipal-images);
  transition: all 2s;
}

#seccion__img:hover{
    filter: sepia(80%);

}

/* ESTILO HTML CONTACTO */
#nav__display_contacto{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 1.5em;

}
.background__contacto{
  background-image: url(../images/image1.jpg);
  
}
/* FIN ESTILO HTML CONTACTO */

/*ESTILO HTML SERVICIOS*/
#video__servicios iframe{
  width: var(--spacing-videoservicios-width);
  height: var(--spacing-videoservicios-heigth);
}


/*FIN ESTILO HTML SERVICIOS*/

/*ESTILO HTML FAQ*/

.FAQclass{
  min-height: var(--spacing-heigthFAQ);
  
}

/*FIN ESTILO HTML FAQ*/


/*ESTILO HTML PRODUCTOS*/

.background__productos{
  background-image: url(../images/background_productos.jpg);
  min-height: 80vh;
}

.background__carousel{
  max-height: 60vh;
  max-width: 100vh;

}

/*FIN ESTILO HTML PRODUCTOS*/


}
