
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400&family=Roboto+Slab:wght@300;500&display=swap'); /*fuentes de google*/



/*CONFIGURACION DE VARIABLES GLOBALES*/

:root {
  /* Colors */
  --primary: #120D31;
  --secondary: #FF5376;
  --alternative: #302F4D;
  --text-color: #2B2B2B;
  --text-carouselcolor:#f89b0f;
  --text-navcolor:#0241b8;
  --cabecera-backgroundcolor:#c1f1fb;
  --cabecera-mobile-backgroundcolor:#0241b8;
  --cabecera-mobile-nav-backgroundcolor:#76777a;
  --footer-mobile-backgroundcolor:#c8c4c4;
  --nav-backgroundcolor:#ffffff;
  --nav-mobile-backgroundcolor:#85c6f4;
  --footer-backgroundcolor:#f4f1f1;
  --footer-topbordercolor:#ffffff;


  /* Spacings */
  --spacing-xlarge:12rem;
  --spacing-xxlarge:50rem;
  --spacing-large: 6rem;
  --spacing-medium: 2.4rem;
  --spacing-small: 2rem;
  --spacing-xsmall: 1rem;
  --spacing-xxsmall:0.2rem;
  --spacing-videoservicios-widthsmall:40rem;
  --spacing-videoservicios-heigthsmall:30rem;
  --spacing-videoservicios-width:60rem;
  --spacing-videoservicios-heigth:50rem;
  --spacing-carousel-width:50rem;
  --spacing-carousel-heigth:35rem;
  --spacing-carouselimages-width:40rem;
  --spacing-carouselimages-heigth:25rem;
  --spacing-heigthFAQ:40rem;


  /* Font-family */
  --font-principal: 'Barlow', sans-serif;
  --font-title: 'Roboto Slab', serif;

  /* Font-Sizes */
  --text-title:4em;
  --text-large: 5.2em;
  --text-medium: 2.2em;
  --text-base: 1.6em;
  --text-small: 1.4em;
  --text-navtext:1.5em;
  --footer-textsize:1.5em;

  /*objets sizes*/
  --seccionprincipal-images:430px;
  --footer-imagesize:25px;
  --conteiner-imagesize-height:400px;
  --conteiner-imagesize-width:500px;
  
}

/* FIN CONFIGURACION DE VARIABLES GLOBALES*/


/*ESTILOS Y CLASES GLOBALES*/

  /*ESTILO DE HEADER Y BARRA DE NAVEGACION*/

.header__img{
  border-radius: 10%;
  width: 90px;                                   
  animation-name:animacion__header__img;
  animation-duration: 20s;
  animation-iteration-count: 2;
}

@keyframes animacion__header__img {
  0%{
  }
  15%{
    transform: translateX(-400px);
  }
  35%{
    transform: translateX(400px);
  }
  55%{
    transform: rotate(360deg);
  }
  80%{
    border-radius: 100%;
  }
  100%{
  }
}

  /*FIN ESTILO DE HEADER Y BARRA DE NAVEGACION*/


/*FIN ESTILOS Y CLASES GLOBALES*/
.cabecera__backgroundcolor{
  background-color:var(--cabecera-backgroundcolor) ;
}


/*ESTILOS HTML INDEX*/

.card{
  border: none;
}

/*FIN ESTILOS HTML INDEX*/

/* ESTILOS HTML PRODUCTOS*/

.carousel__text{
  color:var(--text-carouselcolor);
  font-size: var(--text-base);
  
} 
/*FIN ESTILOS HTML PRODUCTOS*/

/*HTML SERVICIOS*/

#video__servicios iframe{
  width: var(--spacing-videoservicios-widthsmall);
  height: var(--spacing-videoservicios-heigthsmall);
}

/*FIN HTML SERVICIOS*/


/*ESTILO HTML FAQ*/

.FAQclass{
  min-height: var(--spacing-heigthFAQ);
  background-image: url(../images/fondo_principal.jpg);
}

/*FIN ESTILO HTML FAQ*/


/*******************INICIO ESTILO PANTALLA ESCRITORIO********************/


@media screen and (min-width: 1100px) {

#nav__display{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 1.5em;
  
}

/*HTML INDEX*/

.card{
  display: flex;
  align-items: center;
  border: none;
}
#seccion__img{

  max-width: var(--seccionprincipal-images);
  max-height: var(--seccionprincipal-images);
  transition: all 2s;
}

#seccion__img:hover{
    filter: sepia(80%);

}

/* ESTILO HTML CONTACTO */
#nav__display_contacto{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 1.5em;

}
.background__contacto{
  background-image: url(../images/image1.jpg);
  
}
/* FIN ESTILO HTML CONTACTO */

/*ESTILO HTML SERVICIOS*/
#video__servicios iframe{
  width: var(--spacing-videoservicios-width);
  height: var(--spacing-videoservicios-heigth);
}
.background__servicios{
  background-image: url(../images/image7.jpg);
}

/*FIN ESTILO HTML SERVICIOS*/

/*ESTILO HTML FAQ*/

.FAQclass{
  min-height: var(--spacing-heigthFAQ);
  
}

/*FIN ESTILO HTML FAQ*/


/*ESTILO HTML PRODUCTOS*/

.background__productos{
  background-image: url(../images/background_productos.jpg);
  min-height: 80vh;
}

.background__carousel{
  max-height: 60vh;
  max-width: 100vh;

}

/*FIN ESTILO HTML PRODUCTOS*/


}
