
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400&family=Roboto+Slab:wght@300;500&display=swap'); /*fuentes de google*/


/* En root (que es una pseudoclase), podemos utilizar variables para poder almacenar un valor o un dato
de manera que sea mas facil cambiar dichos parametros */
:root {
    /* Colors */
    --primary: #120D31;
    --secondary: #FF5376;
    --alternative: #302F4D;
    --text-color: #2B2B2B;
    --text-navcolor:#0241b8;
    --cabecera-backgroundcolor:#0241b8;
    --cabecera-mobile-backgroundcolor:#0241b8;
    --cabecera-mobile-nav-backgroundcolor:#76777a;
    --footer-mobile-backgroundcolor:#c8c4c4;
    --nav-backgroundcolor:#ffffff;
    --nav-mobile-backgroundcolor:#c8c4c4;
    --footer-backgroundcolor:#f4f1f1;
    --footer-topbordercolor:#ffffff;


    /* Spacings */
    --spacing-xlarge:12rem;
    --spacing-xxlarge:50rem;
    --spacing-large: 6rem;
    --spacing-medium: 2.4rem;
    --spacing-small: 2rem;
    --spacing-xsmall: 1rem;
    --spacing-xxsmall:0.2rem;

    /* Font-family */
    --font-principal: 'Barlow', sans-serif;
    --font-title: 'Roboto Slab', serif;

    /* Font-Sizes */
    --text-title:4em;
    --text-large: 5.2em;
    --text-medium: 2.2em;
    --text-base: 1.6em;
    --text-small: 1.4em;
    --text-navtext:1.5em;
    --footer-textsize:1.5em;

    /*objets sizes*/
    --footer-imagesize:25px;
    --conteiner-imagesize-height:400px;
    --conteiner-imagesize-width:500px;
    
}

/*Estilos Globales*/

*::after,
*::before,

*{
  /* Aqui receteamos margenes de la pagina que vienen por defecto*/
margin: 0px;
padding: 0px;
box-sizing: border-box;
}


html{
  font-size: 62.5%;                                   /* Con esto se recetea los valores predeterminados de la fuente de texto, poniendo 62.5 ahora 1rem= 10px , en vez de 16 px. (mas facil hacer el calculo con 10px)*/
}

body{
  font-family: var(--font-principal);                 /* llamamos la variable que declaramos en root*/
}

ul{
  list-style-type: none;                              /* le saco a todas las listas, los puntitos (viñetas)*/
}

a{
  text-decoration: none;                                /*le saco a los enlaces, los subrayados*/
  font-family: var(--font-title);
  color:var(--text-color);
}

img{
  width: 100%;                                            /*hacemos que las imagenes ocupen el 100% del ancho del contenedor*/
}

/*Fin Estilos Globales*/

/*#########################################################################################*/

/*COMIENZO MOBILE SCREEN*/


.grilla {
  display: grid;
  grid-template-areas: 
  "cabecera"
  "nav"
  "productos"
  "footer";
  grid-template-rows: 1fr 1fr 4fr 1fr;
  grid-template-columns: 1fr;
  height: 100vh;
  
}

.grilla_contacto{
  display: grid;
  grid-template-areas: 
  "cabeceraDOS"
  "navDOS"
  "productosDOS"
  "footerDOS";
  grid-template-rows: 1fr 1fr 4fr 1fr;
  grid-template-columns: 1fr;
  height: 100vh;


}


/*CABECERA*/

header {
  grid-area: cabecera;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #ffffff;
  background-color: var(--cabecera-backgroundcolor);
  padding: var(--spacing-xsmall);
}
.header__img{
  width: 50px;                                       /*Con este maximo de pixel piso lo que puse anteriormente del 100% */
}


.menu__nav{

  display: flex;
  gap: var(--spacing-small); 
  padding: var(--spacing-xsmall); 
  align-items: center;
  border-radius: 5px;
  background-color: var(--cabecera-mobile-nav-backgroundcolor);

}

.menu{
  display: flex;
  justify-content: space-evenly;
  gap: var(--spacing-small);  
  border-radius: 5px;

}

.menu__link{
  font-size: var(--text-small);
  padding: var(--spacing-xxsmall);
  border: 0.02px solid var(--cabecera-mobile-nav-backgroundcolor);           
  transition: all 1s;  
  border-radius: 5px;

}

.menu__link:hover{
  border-color: var(--text-base);    
}



/*CABECERA HTML SECUNDARIOS*/
.cabeceraDOS{
  grid-area: cabeceraDOS;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #ffffff;
  background-color: var(--cabecera-backgroundcolor);
  padding: var(--spacing-xsmall);
}







/*FIN CABECERA*/

/*BARRA DE NAVEGACION*/

.navegacion{
  grid-area: nav;
  display: flex;
  flex-wrap: wrap;

  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  padding: var(--spacing-xxsmall);
  background-color: var(--nav-mobile-backgroundcolor);
  
  }

.box__nav{

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center ;
  text-align: center;
  
  /* justify-content:space-evenly; */
  
  padding: var(--spacing-xxsmall);
  margin: var(--spacing-xxsmall);
  
  width: 85px;
  height: 120px;  
  
  border: 0.02px solid  var(--nav-mobile-backgroundcolor);           /*para animacion de los botoner del menu del header*/
  transition: all 1s;                                         /*para animacion de los botoner del menu del header*/
  border-radius: 10px;


}

.box__nav:hover{
  border-color: var(--text-base);
}

.box__nav-info{

  display: flex;
  justify-content: center;
  
}

.box__nav-info h2{
  color: var(--text-navcolor);
  font-size: var(--text-navtext);
  
}

.box__nav-img {
  
  display: flex;
  width: 50px;
  height: 50px;  
}

/*FIN BARRA DE NAVEGACION*/

/*AREA PRODUCTOS*/

.container{
  grid-area: productos;
  display: flex;
  
  background-image:url("../images/fondo_principal.jpg") ;
  
  align-items: center;
  padding: var(--spacing-small);
  
}

.cards{
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xsmall);
  justify-content: center;
  flex-wrap: nowrap;   

}
.box{
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xsmall);
  flex: 1 1 clamp(300px, 30%, 400px) ; /*para conocer esta propiedad buscar en google flex grow*/
  align-items: center;
  

}
.box__info{
  display: flex;
  flex-direction: column;
  padding: var(--spacing-medium);
}

.box__title{
  font-family: var(--font-title);
  font-size: var(--text-medium);
  color: var(--primary);
}

.box__subtitle{
  margin-top: 0.6 rem;
  color: var(--text-color);
  font-size: var(--text-base);
}

.box__text{
  margin-top: var(--spacing-xsmall);
  font-size: var(--text-base);
  color: var(--text-color);
}
.box__img{
  display: flex;
  
  flex: 1 1;
  
  max-width: var(--conteiner-imagesize-width);
  max-height: var(--conteiner-imagesize-height);
}

/*Clases html servicios*/
.container__servicios{
  grid-area: productos;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  

}
.cards__servicios{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;


}
.cards__servicios p{
  display: flex;
  font-size: var(--text-medium);
  padding-bottom: var(--spacing-medium);
}

.box__info__servicios{
  display: flex;
  
}

.box__info__servicios iframe{
  display: flex;
  width:400px;
  height: 300px;
  padding-bottom: var(--spacing-small);
  
}


/*Fin clases html servicios*/

/*clases html productos */

.container__productos{
  grid-area: productosDOS;
  display: flex;
  flex-direction: column;
  background-image:url("../images/fondo_principal.jpg") ;
  
  align-items: center;
  align-content: center;
  
  padding: var(--spacing-small);
  flex: 1 1 clamp(100px, 30%, 600px) ;
  
}

.cards__productos{
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xsmall);

  justify-content: center;
  align-items: center;
  
  

}
.box__productos{
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xsmall);
  flex: 1 1 clamp(100px, 30%, 600px) ; /*para conocer esta propiedad buscar en google flex grow*/
  
  align-items: center;
  width: var(--spacing-xxlarge);
  
  border: #120D31 solid 1px;
  

}
.box__info__productos{
  display: flex;
  flex-direction: column;
  padding: var(--spacing-medium);
}

.box__title__productos{
  font-family: var(--font-title);
  font-size: var(--text-medium);
  color: var(--primary);
}

.box__subtitle__productos{
  margin-top: 0.6 rem;
  color: var(--text-color);
  font-size: var(--text-base);
}

.box__text__productos{
  margin-top: var(--spacing-xsmall);
  font-size: var(--text-base);
  color: var(--text-color);
}
.box__img__productos{
  display: flex;
  
  flex: 1 1 clamp(100px, 30%, 600px) ;
  
  /* max-width: var(--conteiner-imagesize-width);
  max-height: var(--conteiner-imagesize-height); */
}



/*Fin clases html productos*/


/*clases html contacto*/


.seccion__contacto{
  grid-area: productos;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-xsmall);
  

  background-image: url(../images/image7.jpg);


}
.seccion__contacto__formulario{
  display: flex;
  flex-direction: column;
  border:#120D31 solid 1px;
  

}


/*fin clases html contacto*/

/*clases html FAQ*/

.seccion__faq{
  grid-area: productos;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-xsmall);
  

  background-image: url(../images/image7.jpg);

}

.seccion__faq fieldset{
  display: flex;
  flex-direction: column;
  
  justify-items: center;
  font-size: var(--spacing-medium);
  

}

.seccion__faq fieldset div{
  display: flex;
  flex-direction: column;
  
  padding: 10px;

}





/*FIN AREA PRODUCTOS*/



/*FOOTER MOBILE*/

.footer{
  grid-area: footer;
  display: flex;
  flex-direction: column;
  background-color: var(--footer-mobile-backgroundcolor);
  row-gap: 0px;
  column-gap: 0px;
  
}

.footer__img{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  
}

.footer__img img{
  width: var(--footer-imagesize);

}
.footer__img a{
  background-color: #d4d1d1;
  border:black 1px solid;
  padding: 5px;
  border-radius: 10px;
}

.footer__img p{
  padding-bottom: 5px;
}

.footer__div1-a{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer__derechos{
    display: flex;
    justify-content: center;
}




/*FIN FOOTER MOBILE*/






/*FIN MOBILE SCREEN*/


/*#########################################################################################*/


/*COMIENTO TABLET SCREEN*/

@media screen and (min-width: 600px) {

.grilla {
  display: grid;
  grid-template-areas: 
  "cabecera"
  "nav"
  "productos"
  "footer";
  grid-template-rows: 1fr 1fr 4fr 1fr;
  grid-template-columns: 1fr;
  height: 100vh;
  
}



/*CABECERA*/

header {
  grid-area: cabecera;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #ffffff;
  background-color: var(--cabecera-backgroundcolor);
  padding: var(--spacing-xsmall);
}
.header__img{
  width: 50px;                                       /*Con este maximo de pixel piso lo que puse anteriormente del 100% */
}


.menu__nav{

  display: flex;
  gap: var(--spacing-small); 
  padding: var(--spacing-xsmall); 
  align-items: center;
  border-radius: 5px;
  background-color: var(--cabecera-mobile-nav-backgroundcolor);



}

.menu{
  display: flex;
  justify-content: space-evenly;
  gap: var(--spacing-small);  
  border-radius: 5px;

}

.menu__link{
  font-size: var(--text-small);
  padding: var(--spacing-xxsmall);
  border: 0.02px solid var(--cabecera-mobile-nav-backgroundcolor);           
  transition: all 1s;  
  border-radius: 5px;

}

.menu__link:hover{
  border-color: var(--text-base);    
}

/*FIN CABECERA*/

/*BARRA DE NAVEGACION*/

.navegacion{
  grid-area: nav;
  display: flex;
  flex-wrap: wrap;

  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  padding: var(--spacing-xxsmall);
  background-color: var(--nav-mobile-backgroundcolor);
  
  }

.box__nav{

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center ;
  text-align: center;
  
  /* justify-content:space-evenly; */
  
  padding: var(--spacing-xxsmall);
  margin: var(--spacing-xxsmall);
  
  width: 85px;
  height: 120px;  
  
  border: 0.02px solid  var(--nav-mobile-backgroundcolor);           /*para animacion de los botoner del menu del header*/
  transition: all 1s;                                         /*para animacion de los botoner del menu del header*/
  border-radius: 10px;


}

.box__nav:hover{
  border-color: var(--text-base);
}

.box__nav-info{

  display: flex;
  justify-content: center;
  
}

.box__nav-info h2{
  color: var(--text-navcolor);
  font-size: var(--text-navtext);
  
}

.box__nav-img {
  
  display: flex;
  width: 50px;
  height: 50px;  
}

/*FIN BARRA DE NAVEGACION*/

/*AREA PRODUCTOS*/

.container{
  grid-area: productos;
  display: flex;
  
  background-image:url("../images/fondo_principal.jpg") ;
  
  align-items: center;
  padding: var(--spacing-small);
  
}

.cards{
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xsmall);
  justify-content: center;
  flex-wrap: nowrap;   

}
.box{
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xsmall);
  flex: 1 1 clamp(300px, 30%, 400px) ; /*para conocer esta propiedad buscar en google flex grow*/
  align-items: center;
  

}
.box__info{
  display: flex;
  flex-direction: column;
  padding: var(--spacing-medium);
}

.box__title{
  font-family: var(--font-title);
  font-size: var(--text-medium);
  color: var(--primary);
}

.box__subtitle{
  margin-top: 0.6 rem;
  color: var(--text-color);
  font-size: var(--text-base);
}

.box__text{
  margin-top: var(--spacing-xsmall);
  font-size: var(--text-base);
  color: var(--text-color);
}
.box__img{
  display: flex;
  
  flex: 1 1;
  
  max-width: var(--conteiner-imagesize-width);
  max-height: var(--conteiner-imagesize-height);
}


/*Clases html productos*/
.box__info__servicios iframe{
  display: flex;
  width:700px;
  height: 400px;
  
}
/*fin clases html productos*/




/*FIN AREA PRODUCTOS*/



/*FOOTER TABLET*/

.footer{
  grid-area: footer;
  display: flex;
  flex-direction: column;
  background-color: var(--footer-mobile-backgroundcolor);
  row-gap: 0px;
  column-gap: 0px;
}

.footer__img{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  
}

.footer__img img{
  width: var(--footer-imagesize);

}
.footer__img a{
  background-color: #d4d1d1;
  border:black 1px solid;
  padding: 5px;
  border-radius: 10px;
}

.footer__img p{
  padding-bottom: 5px;
}

.footer__div1-a{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer__derechos{
    display: flex;
    justify-content: center;
}


}

/*FIN TABLET SCREEN*/


/*#########################################################################################*/



/* ESCRITORIO */

@media screen and (min-width: 1200px) {
  
  
  .grilla {
    display: grid;
    grid-template-areas: 
    "cabecera cabecera cabecera"
    "nav productos productos"
    "nav productos productos"
    "footer footer footer";
    grid-template-rows: 0.4fr 2fr 2fr 0.8fr;
    grid-template-columns: 0.5fr 4fr 1fr;
    min-height: 100vh;
    row-gap: 0px;
    column-gap: 0px;

    overflow: scroll;
     
  }

/* configuracion de header*/

  header {
    grid-area: cabecera;
    background-color: var(--cabecera-backgroundcolor);
    
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;


  }
  .header__img{
    border-radius: 10%;
    width: 90px;                                    /*Con este maximo de pixel piso lo que puse anteriormente del 100% */
    animation-name:animacion__header__img;

    animation-duration: 15s;
    animation-iteration-count: 2;
  }

  @keyframes animacion__header__img {
    0%{
    }
    25%{
      transform: translateX(300px);
    }
    50%{
      transform: rotate(360deg);
    }
    75%{
      border-radius: 100%;
    }
    100%{

    }


    
  }

  .header__title{
    font-size: var(--text-title) ;
  }
  .menu__nav{

    display: flex;
    gap: var(--spacing-small); 
    padding: var(--spacing-medium); 
    align-items: center;
    border-radius: 10px;
    
    
    
    background-color: var(--cabecera-mobile-nav-backgroundcolor);
  
  }

  .menu{
    display: flex;
     /*gap lo utilizo para que cuando aparezcan los botones,no esten pegados uno al lado del otro. (Se pùede utilizar tambien un justife content)*/
    gap: var(--spacing-small);         
    align-items: center;
    justify-content: space-evenly;
    
  
  
  
  }
  .menu__link{
      font-size: var(--text-medium);
      padding: var(--spacing-xsmall);
      /*este border es para animacion de los botoner del menu del header*/
      border: 0.02px solid var(--cabecera-mobile-nav-backgroundcolor);           
      transition: all 1s;                 /*para animacion de los botoner del menu del header*/
      border-radius: 10px;
  
   }

  .menu__link:hover{
      border-color: var(--text-base);     /*para animacion de los botoner del menu del header*/
  }

  /*fin config header*/

  /*area productos*/

.container{
  grid-area: productos;
  display: flex;
  /* max-width: 1200px; */
  background-image:url("../images/fondo_principal.jpg") ;
  
  align-items: center;
  margin: 0  auto;                     /*Con esto hacemos margen 0 (arriba y abajo) y margen automatico a los costados (a repartir el espacio que sobre en partes iguales)*/
  /* margin-top: var(--spacing-small);  */
  overflow: scroll;
}



.cards{
  display: flex;
  flex-direction: row;
  gap: var(--spacing-xsmall);
  justify-content: center;
  flex-wrap: wrap;                    /* Esto hace que cuando las imagenes ya no entren en la pantalla, las mismas bajen. (el wrap impide que el hijo supere al padre) */
}
.box{
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xsmall);
  flex: 1 1 clamp(300px, 30%, 400px) ; /*para conocer esta propiedad buscar en google flex grow*/
   
  align-items: center;
  
  cursor: pointer;

 
}


.box__info{
  display: flex;
  flex-direction: column;
  padding: var(--spacing-medium);
}

.box__title{
  font-family: var(--font-title);
  font-size: var(--text-medium);
  color: var(--primary);
}

.box__subtitle{
  margin-top: 0.6 rem;
  color: var(--text-color);
  font-size: var(--text-base);
}

.box__text{
  margin-top: var(--spacing-xsmall);
  font-size: var(--text-base);
  color: var(--text-color);
}
.box__img{
  display: flex;
  
  flex: 1 1;
  
  max-width: var(--conteiner-imagesize-width);
  max-height: var(--conteiner-imagesize-height);
  transition: all 1s;
}


.box__img:hover{
 
	transform: scale(1.1);
}







/*Clases html servicios*/
.cards__servicios p{
  display: flex;
  font-size: var(--text-medium);
  padding-top: var(--spacing-small);
}


.box__info__servicios iframe{
  display: flex;
  width:900px;
  height: 550px;
  
}
/*fin clases html servicios*/

/*clases html productos */

.main__productos{
  grid-area: productos;
  display: flex;
  flex-direction: column;
  
  background-image:url("../images/image7.jpg") ;
  align-items: center;
  align-content: center;
  margin: 0  auto;
  
}

.box__productos__titulos{
  font-size: large;
  padding-top: 20px;
}

.container__productos{
  display: flex;
  flex-direction: row;
  background-image: none;
  
   
}


.cards__productos{
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items: flex-start;
  
}
.box__productos{
  display: flex;
  flex-direction: column;
  
  align-items: center;
  border: #ffffff solid 1px;
}
.box__info__productos{
  display: flex;
  flex-direction: column;
  padding: var(--spacing-medium);
}

.box__title__productos{
  font-family: var(--font-title);
  font-size: var(--text-medium);
  color: var(--primary);
}

.box__subtitle__productos{
  margin-top: 0.6 rem;
  color: var(--text-color);
  font-size: var(--text-base);
}

.box__text__productos{
  margin-top: var(--spacing-xsmall);
  font-size: var(--text-base);
  color: var(--text-color);
}
.box__img__productos img{
  display: flex;
  width: 500px;
  height: 400px;
  cursor: pointer;
  
  transition: all 1s;
  
 

}

.box__img__productos img:hover{
 
	transform: scale(1.1);
}





/*Fin clases html productos*/


/*clases html contacto*/


.seccion__contacto{
  grid-area: productos;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-xsmall);
  overflow: scroll;

  background-image: url(../images/image7.jpg);


}
.seccion__contacto__formulario{
  display: flex;
  flex-direction: column;
  border:#120D31 solid 1px;
  

}





/*fin clases html contacto*/

/*clases html FAQ*/

.seccion__faq{
  grid-area: productos;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-xsmall);
  

  background-image: url(../images/image7.jpg);

}

.seccion__faq fieldset{
  display: flex;
  flex-direction: column;
  
  justify-items: center;
  font-size: var(--spacing-medium);
  width: 600px;
  height: 700px;

}

.seccion__faq fieldset div{
  display: flex;
  flex-direction: column;
  
  padding: 10px;

}



/*fin area productos*/

/*barra de navegacion lateral*/


.navegacion{
  grid-area: nav;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  align-items: center;
  background-color: var(--nav-backgroundcolor);
  
  justify-content: space-evenly;
  
  }

.box__nav{

  display: flex;
  flex-direction: column;

  align-items: center ;
  align-content: center;
  text-align: center;
  justify-content: space-evenly;
    
  width: 120px;
  height: 120px;

  border: 0.02px solid  var(--nav-backgroundcolor);           /*para animacion de los botoner del menu del header*/
  transition: all 1s;                                         /*para animacion de los botoner del menu del header*/
  border-radius: 10px;


}

.box__nav:hover{

  border-color: var(--text-base);
  
}


.box__nav-info{

  display: flex;
  justify-content: center;
  
  
  
}

.box__nav-info h2{
  color: var(--text-navcolor);
  font-size: var(--text-navtext);
 
}


.box__nav-img {
  
  display: flex;
  max-width: 70px;
  
}




/*fin barra de navegacion lateral*/



/*configuracion footer*/

.footer{
  grid-area: footer;
  display: grid;
  grid-template-areas: 
    "uno tres tres cuatro"
    "uno tres tres cuatro"
    "cinco cinco cinco cinco";
  grid-template-rows: 1fr 2fr 0.5fr;
  grid-template-columns: 5fr 0.5fr 1.5fr 5fr;

  background-color: var(--footer-backgroundcolor);
  
  row-gap: 0px;
  column-gap: 0px;
  
  
  
}



.footer__img{
  grid-area: tres;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  
  
  
}

.footer__img img{
  width: var(--footer-imagesize);

}
.footer__img a{
  background-color: #d4d1d1;
  border:black 1px solid;
  padding: 5px;

  
  border-radius: 10px;
}

.footer__img p{
  padding-bottom: 5px;
  
}


.footer__div1-a{
  grid-area: tres;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  
}

.footer__derechos{
    grid-area:cinco ;
    display: flex;
    justify-content: center;
    
    
}


} /*fin @screen escritorio*/

  
/*#########################################################################################*/





@media print {
  .grilla {
    grid-template-areas: 
    "cabecera cabecera cabecera"
    "nav productos publicidad"
    "nav servicios publicidad"
    "footer footer footer";
    grid-template-rows: 1fr 2fr 1fr 1fr;
    grid-template-columns: 1fr 4fr 1fr;
    height: 100vh;
    row-gap: 10px;
    column-gap: 10px;
  }
}