/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400&family=Roboto+Slab:wght@300;500&display=swap"); /*fuentes de google*/
/*CONFIGURACION DE VARIABLES GLOBALES*/
/* Colors */
/* gradientes */
/* Spacings */
/* Font-family */
/* Font-Sizes */
/*objets sizes*/
/* FIN CONFIGURACION DE VARIABLES GLOBALES*/
/*ESTILO DE HEADER Y BARRA DE NAVEGACION*/
.header__img {
  padding-left: 23px;
  border-radius: 10%;
  max-height: 3rem;
  -webkit-animation-name: animacion__header__img;
          animation-name: animacion__header__img;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
}

@-webkit-keyframes animacion__header__img {
  35% {
    transform: rotate(360deg);
  }
  55% {
    transform: translateX(-15px);
  }
  80% {
    transform: rotate(360deg);
  }
}

@keyframes animacion__header__img {
  35% {
    transform: rotate(360deg);
  }
  55% {
    transform: translateX(-15px);
  }
  80% {
    transform: rotate(360deg);
  }
}
#mainNav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 3rem;
  background-color: #fff;
}

.navbar-toggler {
  font-size: 0.875rem;
  padding: 0.75rem 1rem;
  color: #212529;
}
.navbar-toggler .navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.consulta__button {
  border-radius: 10px;
}

@media screen and (min-width: 1100px) {
  .header__img {
    padding-left: 15rem;
    border-radius: 10%;
    max-height: 4rem;
    -webkit-animation-name: animacion__header__img;
            animation-name: animacion__header__img;
    -webkit-animation-duration: 15s;
            animation-duration: 15s;
    -webkit-animation-iteration-count: 2;
            animation-iteration-count: 2;
  }
  @-webkit-keyframes animacion__header__img {
    35% {
      transform: translateX(-170px);
    }
    55% {
      transform: rotate(360deg);
    }
    80% {
      transform: translateX(-170px);
    }
  }
  @keyframes animacion__header__img {
    35% {
      transform: translateX(-170px);
    }
    55% {
      transform: rotate(360deg);
    }
    80% {
      transform: translateX(-170px);
    }
  }
}
/*FIN ESTILO DE HEADER Y BARRA DE NAVEGACION*/
/*ESTILOS Y CLASES GLOBALES*/
.gradiente__violeta {
  background-image: linear-gradient(to right, #2937f0, #9f1ae2);
}

.gradiente__gris {
  background-image: linear-gradient(to right, #59595c, #bfbbc1);
}

.primer__barra__horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 9rem;
}

.barra__horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/*FIN ESTILOS Y CLASES GLOBALES*/
/*INDEX*/
.masthead {
  padding-top: 9.5rem;
  padding-bottom: 5rem;
}
.masthead .card__body {
  height: 35rem;
}
.masthead .card__body .card {
  border: none;
}

@media screen and (min-width: 1100px) {
  .card__body {
    height: 35rem;
  }
  .card__body .card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: none;
  }
  .card__body .card #seccion__img {
    max-width: 25rem;
    max-height: 25rem;
    transition: all 2s;
  }
  .card__body .card #seccion__img:hover {
    filter: sepia(80%);
  }
}
/*FIN  INDEX*/
/*FOOTER*/
.footer__main {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.footer__main .footer__image {
  max-height: 3rem;
}
.footer__main .footer__appimage {
  height: 3rem;
}

.footer__decoration {
  text-decoration: none;
}

/*FIN FOOTER*/
/* ESTILO HTML CONTACTO */
@media screen and (min-width: 1100px) {
  .background__contacto {
    background-image: url(../images/image1.jpg);
  }
}
/* FIN ESTILO HTML CONTACTO */
/*HTML SERVICIOS*/
#video__servicios iframe {
  width: 40rem;
  height: 30rem;
}

/*FIN HTML SERVICIOS*/
@media screen and (min-width: 1100px) {
  /* SERVICIOS*/
  #video__servicios iframe {
    width: 60rem;
    height: 50rem;
  }
  /*FIN  SERVICIOS*/
}
/* ESTILOS HTML PRODUCTOS*/
.carousel__text {
  color: #f89b0f;
  font-size: 1.6em;
}

@media screen and (min-width: 1100px) {
  .background__productos {
    min-height: 60vh;
  }
}
/*FIN PRODUCTOS*/
/*FAQ*/
.FAQclass {
  min-height: 40rem;
  background-image: url(../images/fondo_principal.jpg);
}

@media screen and (min-width: 1100px) {
  .FAQclass {
    min-height: 40rem;
  }
}
/*FIN  FAQ*//*# sourceMappingURL=style.css.map */